<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>SignIn</h1>
        {{#if hashErrors }}
         <div class="alert alert-danger">
             {{# each messages }}
               <p>
                   {{this}}
               </p>
             {{/each}}
         </div>
        {{/if}}
        <form action="/user/signin" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            {{!-- <div class="form-group">
                <label for="cpassword">Confirm</label>
                <input type="password" id="cpassword" name="confirm" class="form-control">
            </div> --}}
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">

                <button type="submit" class="btn">SignIn</button>
        </form>
        
    </div>
</div>