<div class="row">
  {{#each products }}
      <div class="card" style="width:300px;margin-left: 10px;margin-bottom:10px;">
        <img class="card-img-top img-responsive" 
          src="{{ this.imagePath }}" 
          alt="Card image"
          style="max-height:250px"
          >
        <div class="card-body">
          <h4 class="card-title">{{ this.title }}</h4>
          <p class="card-text" style="max-height: 50px;overflow:hidden"> {{ this.description}}</p>
          <a href="/add-to-kart/{{ this.id }}" class="btn btn-primary">Add to kart</a>
        </div>
      </div>
  {{/each}}
</div>
   